# raw file
ShroomAI/dataset/raw_inat/
ShroomAI/dataset/test_df.txt
ShroomAI/dataset/train_df.txt

ShroomAI/dataset/sample_images/

# inat 300 
ShroomAI/dataset/inat_300/
ShroomAI/dataset/inat_300.zip
ShroomAI/dataset/meta.json

# images 100
ShroomAI/dataset/images_100_3314/
ShroomAI/dataset/images_100_3314.zip
ShroomAI/dataset/images_100_3314_meta.json

# scripts
ShroomAI/run_mobilenet_gpu0.sh
ShroomAI/run_efficientnet_gpu1.sh

# ckpt
ShroomAI/ckpt/

ShroomAI/models/mobilevitv2-0.75*

__pycache__

.vscode/
.DS_Store