ShroomAI/dataset/inat_300/
ShroomAI/dataset/inat_300.zip

ShroomAI/dataset/images_100_3314/
ShroomAI/dataset/images_100_3314.zip
ShroomAI/dataset/images_100_3314_meta.json

ShroomAI/ckpt/

__pycache__

.vscode/
README.md